<section class="quest-board-inventory">
  <div class="box-inventory">

    <h2>Inventari</h2>

    <div class="rows">
      <div class="boxes" id="box-1">
        <img src="/assets/images/icon/icon-html.svg" alt="icon-html.svg">
      </div>
      <div class="boxes" id="box-2">
        <img src="/assets/images/icon/icon-css.svg" alt="icon-css.svg">
      </div>
      <div class="boxes" id="box-3">
        <img src="/assets/images/icon/icon-javascript.svg" alt="icon-javascript.svg">
      </div>
      <div class="boxes" id="box-4">
        <img src="/assets/images/icon/icon-angular.svg" alt="icon-angular.svg">
      </div>
      <div class="boxes" id="box-5">
        <img src="/assets/images/icon/icon-react.svg" alt="icon-react.svg">
      </div>
    </div>
    <div class="rows">
      <div class="boxes" id="box-6">
        <img src="/assets/images/icon/icon-typescript.svg" alt="icon-typescript.svg">
      </div>
      <div class="boxes" id="box-7">
        <img src="/assets/images/icon/icon-java.svg" alt="icon-java.svg">
      </div>
      <div class="boxes" id="box-8">
        <img src="/assets/images/icon/icon-android-studio.svg" alt="icon-android-studio.svg">
      </div>
      <div class="boxes" id="box-9">
        <img src="/assets/images/icon/icon-docker.svg" alt="icon-docker.svg">
      </div>
      <div class="boxes" id="box-10">
        <img src="/assets/images/icon/icon-sql.svg" alt="icon-sql.svg">
      </div>
    </div>
    <div class="rows">
      <div class="boxes" id="box-11">
        <img src="/assets/images/icon/icon-mysql.svg" alt="icon-mysql.svg">
      </div>
      <div class="boxes" id="box-12">
        <img src="/assets/images/icon/icon-github.svg" alt="icon-github.svg">
      </div>
      <div class="boxes" id="box-13"></div>
      <div class="boxes" id="box-14"></div>
      <div class="boxes" id="box-15"></div>
    </div>
  </div>
</section>
