.quest-board-inventory {
  /* Per centrar el div que és inline-block */
  text-align: center;
}

.box-inventory {
  padding: 15px;
  border-style: solid;
  background-color: #FFC78A;
  border-color: #955E25;
  /* inline-block fa wrap-content */
  display: inline-block;

  box-shadow:
    inset 0 0 0 4px #d9a86c,  /* vora interna clara */
    inset 0 0 0 8px #5c3a1e,  /* vora interna fosca */
    4px 4px 0 #3b2412;
}

.box-inventory h2 {
  font-family: "Jersey 10", sans-serif;
  font-size: 35px;
  letter-spacing: 3px;
  color: #C89B3C;
  text-shadow:
      2px 2px 0 #3E2A1F;
}

.box-inventory img {
  width: 50px;
}

.rows {
  display: flex;
  margin: 5px;
  gap: 5px;
}

.boxes {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  width: 70px;
  height: 70px;
  background-color: #FFBB72;
}
