.quest-board-contracts {
  background-image: url("/assets/images/background/background-jobs3.png");
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-size: cover; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 3px;
}

#c {
  position: relative;
  flex-direction: row;
  /* padding-top: 280px;
  padding-left: 150px; */
  width: 100%;
  height: 100vh;

  display: block;
}

.contracts {
  position: absolute;

  background-image: url("/assets/images/background/background-job.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 35vh;
  height: 70vh;

  padding: 0px 30px 0px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

.contracts h2 {
  font-size: 13px;
}

.contracts h3 {
  font-size: 11px;
}

.contracts p {
  font-size: 10px;
}

.contracts li {
  font-size: 10px;
}

.contracts ul {
  margin-top: 10px;
  padding: 0px 10px 0px 20px;
}

/* .contracts:nth-child(1) {
  top: 30%;
  left: 9%;
}

.contracts:nth-child(2) {
  top: 30%;
  left: 24%;
}

.contracts:nth-child(3) {
  top: 30%;
  left: 40%;
} */
