<section class="quest-board-academy-card">
  <div id="pages">
    <div class="page">
      @if (showVideos && videos && videos.length > 0) {
        <h2>{{videos[currentPage].title}}</h2>
        @if (isBrowser) {
          <iframe
          [src]="getSafeUrl(videos[currentPage].urlId)"
          frameborder="0"
          width="350"
          height="315"
          frameborder="0"
          allowfullscreen></iframe>
        }
      }
    </div>
    @if (!isMobile) {
      <div class="page">
        @if (showVideos && videos && videos.length > currentPage + 1) {
            <h2>{{videos[currentPage+1].title}}</h2>
            @if (isBrowser) {
              <iframe
              [src]="getSafeUrl(videos[currentPage+1].urlId)"
              frameborder="0"
              width="350"
              height="315"
              frameborder="0"
              allowfullscreen></iframe>
            }
        }
      </div>
    }
  </div>
  <button id="button-page" (click)="nextPage()">
    <img src="/assets/images/buttons/button-page.png" alt="button-page.png">
  </button>
</section>
