.quest-board-academy-card {

  background-image: url("/assets/images/background/background-one-video2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  aspect-ratio: 421 / 549;
  position: relative;

  @media (min-width: 950px) {
    background-image: url("/assets/images/background/background-videos.png");
    background-size: 885px 597px;
    background-repeat: no-repeat;
    width: 885px;
    height: 597px;
    overflow: visible;
  }
}

#pages {
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  padding-top: 20%;

  @media (min-width: 950px) {
    padding-top: 10%;
    padding-right: 5%;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  width: 80%;
  padding-left: 5%;

  @media (min-width: 950px) {
    padding-left: 5%;
  }
}

.page h2 {
  width: 80%;
  margin-bottom: 5%;
  font-family: "Jersey 10", sans-serif;
  /* clamp(tamañoMínimo, tamañoEscaladoConVentana, tamañoMáximo */
  font-size: clamp(1rem, 5vw, 3rem);
  letter-spacing: 2px;
  color: #C89B3C;
  -webkit-text-stroke: 1px #7A5C1E;
}

.page iframe {
  width: 80%;
  height: auto;
  aspect-ratio: 10 / 8;
  border: 4px solid #C89B3C;
  outline: 2px solid #7A5C1E;
}

#button-page {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  bottom: 2.5%;
  right: 8%;

  @media (min-width: 950px) {
    bottom: 2%;
    right: 3%;
  }
}

#button-page img {
  @media (max-width: 949px) {
    width: 13vw;
    height: auto;
    display: block;
  }
}
