.quest-board-project-card{
  background-image: url("/assets/images/background/background-project.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 1% 0% 0% 0%;
  padding: 5% 8% 10% 8%;
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 2px;
}

.project-card {
  /* display: flex;
  flex-direction: column;
  height: 100%; */
  /* position: relative; */
}

#data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#info {
  margin-top: 10px;
}

#info h2 {
  font-size: 2rem;
}

#info p {
  font-size: 1.2rem;
}

#tech img {
  width: 45px;
  margin: 10px 0px 5px 0px;
}

#status img {
  width: 80px;
}

#exp {
  display: flex;
  margin-top: auto;
  align-items: center;
  width: 100%;
  padding: 0% 5% 0% 5%;
  gap: 10px;

  /* @media (max-width: 768px) {
    width: 90%;
    padding: 0px 0px 0px 50px;
  } */
}

#level-bar {
  flex: 1;
  width: 200px;
  height: 20px;
  background-color: #3b2412;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 150px;
  }
}

#fill {
  width: 60%;
  height: 100%;
  background-color: #C89B3C;
}
